
<div class="panel panel-default">
  <h1>Stats </h1>


  <table class="table">
    <tr>
      <th>Stat</th>
      <th>Count</th>
      <th>Links</th>
    </tr>
    <tr>
      <td>Products</td>
      <td><%= @product_count %></td>
      <td><%= link_to 'Product Dashboard', admin_products_path %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= @category_count %></td>
      <td><%= link_to 'Categories'%></td>
    </tr>
  </table>
</div>