<header>
  <h1>About the Jungle</h1>
</header>

<br>

<h4>All Things Green</h1>

<br>

<p>Welcome to the jungle, your one stop shop for evergreens, shrubs, and trees! Thanks for shopping with us, we hope you enjoy your experience.</p>